.usersContainer{
    display: flex;
    grid-area: post;
    padding: 10px 2px;
    background-color: white;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
    color: black;
    border-radius: 10px;
}

.usersContainer img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}