.header img{
    padding: 0 20px;
    width: 60px;
}

.header {
    width: 100%;
    background-color: white;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0,0,0,0.75);
    grid-area: header;
    /*background-color: orange;*/
}

.loginBlock {
    float: right;
    color: #e30d0d;
}