.nav {
    padding: 20px;
    grid-area: nav;
    background-color: orangered;
}

.item {
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.active {
    font-size: 30px;
    text-decoration: none;
    color: gold;
}