.nav {
    padding: 10px 2px;
    grid-area: nav;
    background-color: whitesmoke;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.section:hover .navbar_item {
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
}

.section:hover .navbar_logo {
    margin-left: 15px;
    /*color: mediumpurple;*/
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.navbar_logo {
    margin-left: 15px;
    color: cornflowerblue;
}

.linkActive > .navbar_logo {
    color: mediumpurple;
}

.navbar_title {
    margin-left: 10px;
}