s.content {
    display: flex;
    align-items: center;
    position: relative;
}


.picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
    object-position: 100% 50%;
}

.avatar img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 168px;
    border-radius: 50%;
    border: 5px solid white;
    top: -150px
}

.profileName {
    font-size: 32px;
    position: relative;
    text-align: center;
    top: -170px;
}