.app-wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-areas:
            'header header header'
            'nav content sidebar'
            'nav post sidebar';
    grid-template-columns: 2fr 8fr 2fr;
    grid-gap: 5px
}

.app-wrapper-content {
    margin-top: -5px;
    background-color: whitesmoke;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
    grid-area: content;
}
